# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



designs/DB_design.dia
designs/UML_design.dia
designs/DB_design.dia.autosave
designs/DB_design.dia~
designs/Diagram1.dia
designs/Diagram1.dia.autosave
src/assets/line/annotation.svg
src/assets/line/archive.svg
src/assets/line/arrow-circle-down.svg
src/assets/line/arrow-circle-left.svg
src/assets/line/arrow-circle-right.svg
src/assets/line/arrow-circle-up.svg
src/assets/line/arrow-down.svg
src/assets/line/arrow-left.svg
src/assets/line/arrow-narrow-down.svg
src/assets/line/arrow-narrow-left.svg
src/assets/line/arrow-narrow-right.svg
src/assets/line/arrow-narrow-up.svg
src/assets/line/arrow-right.svg
src/assets/line/arrow-up.svg
src/assets/line/arrows-expand.svg
src/assets/line/at-symbol.svg
src/assets/line/backspace.svg
src/assets/line/badge-check.svg
src/assets/line/ban.svg
src/assets/line/beaker.svg
src/assets/line/bell.svg
src/assets/line/book-open.svg
src/assets/line/bookmark-alt.svg
src/assets/line/bookmark.svg
src/assets/line/briefcase.svg
src/assets/line/cake.svg
src/assets/line/calculator.svg
src/assets/line/calendar.svg
src/assets/line/camera.svg
src/assets/line/cash.svg
src/assets/line/chart-bar.svg
src/assets/line/chart-pie.svg
src/assets/line/chart-square-bar.svg
src/assets/line/chat-alt-2.svg
src/assets/line/chat-alt.svg
src/assets/line/chat.svg
src/assets/line/check-circle.svg
src/assets/line/check.svg
src/assets/line/chevron-double-down.svg
src/assets/line/chevron-double-left.svg
src/assets/line/chevron-double-right.svg
src/assets/line/chevron-double-up.svg
src/assets/line/chevron-down.svg
src/assets/line/chevron-left.svg
src/assets/line/chevron-right.svg
src/assets/line/chevron-up.svg
src/assets/line/chip.svg
src/assets/line/clipboard-check.svg
src/assets/line/clipboard-copy.svg
src/assets/line/clipboard-list.svg
src/assets/line/clipboard.svg
src/assets/line/clock.svg
src/assets/line/cloud-download.svg
src/assets/line/cloud-upload.svg
src/assets/line/cloud.svg
src/assets/line/code.svg
src/assets/line/cog.svg
src/assets/line/collection.svg
src/assets/line/color-swatch.svg
src/assets/line/credit-card.svg
src/assets/line/cube-transparent.svg
src/assets/line/cube.svg
src/assets/line/currency-bangladeshi.svg
src/assets/line/currency-dollar.svg
src/assets/line/currency-euro.svg
src/assets/line/currency-pound.svg
src/assets/line/currency-rupee.svg
src/assets/line/currency-yen.svg
src/assets/line/cursor-click.svg
src/assets/line/database.svg
src/assets/line/desktop-computer.svg
src/assets/line/device-mobile.svg
src/assets/line/device-tablet.svg
src/assets/line/document-add.svg
src/assets/line/document-download.svg
src/assets/line/document-duplicate.svg
src/assets/line/document-remove.svg
src/assets/line/document-report.svg
src/assets/line/document-search.svg
src/assets/line/document-text.svg
src/assets/line/document.svg
src/assets/line/dots-circle-horizontal.svg
src/assets/line/dots-horizontal.svg
src/assets/line/dots-vertical.svg
src/assets/line/download.svg
src/assets/line/duplicate.svg
src/assets/line/emoji-happy.svg
src/assets/line/emoji-sad.svg
src/assets/line/exclamation-circle.svg
src/assets/line/exclamation.svg
src/assets/line/external-link.svg
src/assets/line/eye-off.svg
src/assets/line/eye.svg
src/assets/line/fast-forward.svg
src/assets/line/film.svg
src/assets/line/filter.svg
src/assets/line/finger-print.svg
src/assets/line/fire.svg
src/assets/line/flag.svg
src/assets/line/folder-add.svg
src/assets/line/folder-download.svg
src/assets/line/folder-open.svg
src/assets/line/folder-remove.svg
src/assets/line/folder.svg
src/assets/line/gift.svg
src/assets/line/globe-alt.svg
src/assets/line/globe.svg
src/assets/line/hand.svg
src/assets/line/hashtag.svg
src/assets/line/heart.svg
src/assets/line/home.svg
src/assets/line/identification.svg
src/assets/line/inbox-in.svg
src/assets/line/inbox.svg
src/assets/line/information-circle.svg
src/assets/line/key.svg
src/assets/line/library.svg
src/assets/line/light-bulb.svg
src/assets/line/lightning-bolt.svg
src/assets/line/link.svg
src/assets/line/location-marker.svg
src/assets/line/lock-closed.svg
src/assets/line/lock-open.svg
src/assets/line/login.svg
src/assets/line/logout.svg
src/assets/line/mail-open.svg
src/assets/line/mail.svg
src/assets/line/map.svg
src/assets/line/menu-alt-1.svg
src/assets/line/menu-alt-2.svg
src/assets/line/menu-alt-3.svg
src/assets/line/menu-alt-4.svg
src/assets/line/menu.svg
src/assets/line/microphone.svg
src/assets/line/minus-circle.svg
src/assets/line/minus.svg
src/assets/line/moon.svg
src/assets/line/music-note.svg
src/assets/line/newspaper.svg
src/assets/line/office-building.svg
src/assets/line/paper-airplane.svg
src/assets/line/paper-clip.svg
src/assets/line/pause.svg
src/assets/line/pencil-alt.svg
src/assets/line/pencil.svg
src/assets/line/phone-incoming.svg
src/assets/line/phone-missed-call.svg
src/assets/line/phone-outgoing.svg
src/assets/line/phone.svg
src/assets/line/photograph.svg
src/assets/line/play.svg
src/assets/line/plus-circle.svg
src/assets/line/plus.svg
src/assets/line/presentation-chart-bar.svg
src/assets/line/presentation-chart-line.svg
src/assets/line/printer.svg
src/assets/line/puzzle.svg
src/assets/line/qrcode.svg
src/assets/line/question-mark-circle.svg
src/assets/line/receipt-refund.svg
src/assets/line/receipt-tax.svg
src/assets/line/refresh.svg
src/assets/line/reply.svg
src/assets/line/rewind.svg
src/assets/line/rss.svg
src/assets/line/save-as.svg
src/assets/line/save.svg
src/assets/line/scale.svg
src/assets/line/scissors.svg
src/assets/line/search-circle.svg
src/assets/line/search.svg
src/assets/line/selector.svg
src/assets/line/server.svg
src/assets/line/share.svg
src/assets/line/shield-check.svg
src/assets/line/shield-exclamation.svg
src/assets/line/shopping-bag.svg
src/assets/line/shopping-cart.svg
src/assets/line/sort-ascending.svg
src/assets/line/sort-descending.svg
src/assets/line/sparkles.svg
src/assets/line/speakerphone.svg
src/assets/line/star.svg
src/assets/line/status-offline.svg
src/assets/line/status-online.svg
src/assets/line/stop.svg
src/assets/line/sun.svg
src/assets/line/support.svg
src/assets/line/switch-horizontal.svg
src/assets/line/switch-vertical.svg
src/assets/line/table.svg
src/assets/line/tag.svg
src/assets/line/template.svg
src/assets/line/terminal.svg
src/assets/line/thumb-down.svg
src/assets/line/thumb-up.svg
src/assets/line/ticket.svg
src/assets/line/translate.svg
src/assets/line/trash.svg
src/assets/line/trending-down.svg
src/assets/line/trending-up.svg
src/assets/line/truck.svg
src/assets/line/upload.svg
src/assets/line/user-add.svg
src/assets/line/user-circle.svg
src/assets/line/user-group.svg
src/assets/line/user-remove.svg
src/assets/line/user.svg
src/assets/line/users.svg
src/assets/line/variable.svg
src/assets/line/video-camera.svg
src/assets/line/view-boards.svg
src/assets/line/view-grid-add.svg
src/assets/line/view-grid.svg
src/assets/line/view-list.svg
src/assets/line/volume-off.svg
src/assets/line/volume-up.svg
src/assets/line/wifi.svg
src/assets/line/x-circle.svg
src/assets/line/x.svg
src/assets/line/zoom-in.svg
src/assets/line/zoom-out.svg
src/assets/solid/academic-cap.svg
src/assets/solid/adjustments.svg
src/assets/solid/annotation.svg
src/assets/solid/archive.svg
src/assets/solid/arrow-circle-down.svg
src/assets/solid/arrow-circle-left.svg
src/assets/solid/arrow-circle-right.svg
src/assets/solid/arrow-circle-up.svg
src/assets/solid/arrow-down.svg
src/assets/solid/arrow-left.svg
src/assets/solid/arrow-narrow-down.svg
src/assets/solid/arrow-narrow-left.svg
src/assets/solid/arrow-narrow-right.svg
src/assets/solid/arrow-narrow-up.svg
src/assets/solid/arrow-right.svg
src/assets/solid/arrow-up.svg
src/assets/solid/arrows-expand.svg
src/assets/solid/at-symbol.svg
src/assets/solid/backspace.svg
src/assets/solid/badge-check.svg
src/assets/solid/ban.svg
src/assets/solid/beaker.svg
src/assets/solid/bell.svg
src/assets/solid/book-open.svg
src/assets/solid/bookmark-alt.svg
src/assets/solid/bookmark.svg
src/assets/solid/briefcase.svg
src/assets/solid/cake.svg
src/assets/solid/calculator.svg
src/assets/solid/calendar.svg
src/assets/solid/camera.svg
src/assets/solid/cash.svg
src/assets/solid/chart-bar.svg
src/assets/solid/chart-pie.svg
src/assets/solid/chart-square-bar.svg
src/assets/solid/chat-alt-2.svg
src/assets/solid/chat-alt.svg
src/assets/solid/chat.svg
src/assets/solid/check-circle.svg
src/assets/solid/check.svg
src/assets/solid/chevron-double-down.svg
src/assets/solid/chevron-double-left.svg
src/assets/solid/chevron-double-right.svg
src/assets/solid/chevron-double-up.svg
src/assets/solid/chevron-down.svg
src/assets/solid/chevron-left.svg
src/assets/solid/chevron-right.svg
src/assets/solid/chevron-up.svg
src/assets/solid/chip.svg
src/assets/solid/clipboard-check.svg
src/assets/solid/clipboard-copy.svg
src/assets/solid/clipboard-list.svg
src/assets/solid/clipboard.svg
src/assets/solid/clock.svg
src/assets/solid/cloud-download.svg
src/assets/solid/cloud-upload.svg
src/assets/solid/cloud.svg
src/assets/solid/code.svg
src/assets/solid/cog.svg
src/assets/solid/collection.svg
src/assets/solid/color-swatch.svg
src/assets/solid/credit-card.svg
src/assets/solid/cube-transparent.svg
src/assets/solid/cube.svg
src/assets/solid/currency-bangladeshi.svg
src/assets/solid/currency-dollar.svg
src/assets/solid/currency-euro.svg
src/assets/solid/currency-pound.svg
src/assets/solid/currency-rupee.svg
src/assets/solid/currency-yen.svg
src/assets/solid/cursor-click.svg
src/assets/solid/database.svg
src/assets/solid/desktop-computer.svg
src/assets/solid/device-mobile.svg
src/assets/solid/device-tablet.svg
src/assets/solid/document-add.svg
src/assets/solid/document-download.svg
src/assets/solid/document-duplicate.svg
src/assets/solid/document-remove.svg
src/assets/solid/document-report.svg
src/assets/solid/document-search.svg
src/assets/solid/document-text.svg
src/assets/solid/document.svg
src/assets/solid/dots-circle-horizontal.svg
src/assets/solid/dots-horizontal.svg
src/assets/solid/dots-vertical.svg
src/assets/solid/download.svg
src/assets/solid/duplicate.svg
src/assets/solid/emoji-happy.svg
src/assets/solid/emoji-sad.svg
src/assets/solid/exclamation-circle.svg
src/assets/solid/exclamation.svg
src/assets/solid/external-link.svg
src/assets/solid/eye-off.svg
src/assets/solid/eye.svg
src/assets/solid/fast-forward.svg
src/assets/solid/film.svg
src/assets/solid/filter.svg
src/assets/solid/finger-print.svg
src/assets/solid/fire.svg
src/assets/solid/flag.svg
src/assets/solid/folder-add.svg
src/assets/solid/folder-download.svg
src/assets/solid/folder-open.svg
src/assets/solid/folder-remove.svg
src/assets/solid/folder.svg
src/assets/solid/gift.svg
src/assets/solid/globe-alt.svg
src/assets/solid/globe.svg
src/assets/solid/hand.svg
src/assets/solid/hashtag.svg
src/assets/solid/heart.svg
src/assets/solid/home.svg
src/assets/solid/identification.svg
src/assets/solid/inbox-in.svg
src/assets/solid/inbox.svg
src/assets/solid/information-circle.svg
src/assets/solid/key.svg
src/assets/solid/library.svg
src/assets/solid/light-bulb.svg
src/assets/solid/lightning-bolt.svg
src/assets/solid/link.svg
src/assets/solid/location-marker.svg
src/assets/solid/lock-closed.svg
src/assets/solid/lock-open.svg
src/assets/solid/login.svg
src/assets/solid/logout.svg
src/assets/solid/mail-open.svg
src/assets/solid/mail.svg
src/assets/solid/map.svg
src/assets/solid/menu-alt-1.svg
src/assets/solid/menu-alt-2.svg
src/assets/solid/menu-alt-3.svg
src/assets/solid/menu-alt-4.svg
src/assets/solid/menu.svg
src/assets/solid/microphone.svg
src/assets/solid/minus-circle.svg
src/assets/solid/minus.svg
src/assets/solid/moon.svg
src/assets/solid/music-note.svg
src/assets/solid/newspaper.svg
src/assets/solid/office-building.svg
src/assets/solid/paper-airplane.svg
src/assets/solid/paper-clip.svg
src/assets/solid/pause.svg
src/assets/solid/pencil-alt.svg
src/assets/solid/pencil.svg
src/assets/solid/phone-incoming.svg
src/assets/solid/phone-missed-call.svg
src/assets/solid/phone-outgoing.svg
src/assets/solid/phone.svg
src/assets/solid/photograph.svg
src/assets/solid/play.svg
src/assets/solid/plus-circle.svg
src/assets/solid/plus.svg
src/assets/solid/presentation-chart-bar.svg
src/assets/solid/presentation-chart-line.svg
src/assets/solid/printer.svg
src/assets/solid/puzzle.svg
src/assets/solid/qrcode.svg
src/assets/solid/question-mark-circle.svg
src/assets/solid/receipt-refund.svg
src/assets/solid/receipt-tax.svg
src/assets/solid/refresh.svg
src/assets/solid/reply.svg
src/assets/solid/rewind.svg
src/assets/solid/rss.svg
src/assets/solid/save-as.svg
src/assets/solid/save.svg
src/assets/solid/scale.svg
src/assets/solid/scissors.svg
src/assets/solid/search-circle.svg
src/assets/solid/search.svg
src/assets/solid/selector.svg
src/assets/solid/server.svg
src/assets/solid/share.svg
src/assets/solid/shield-check.svg
src/assets/solid/shield-exclamation.svg
src/assets/solid/shopping-bag.svg
src/assets/solid/shopping-cart.svg
src/assets/solid/sort-ascending.svg
src/assets/solid/sort-descending.svg
src/assets/solid/sparkles.svg
src/assets/solid/speakerphone.svg
src/assets/solid/star.svg
src/assets/solid/status-offline.svg
src/assets/solid/status-online.svg
src/assets/solid/stop.svg
src/assets/solid/sun.svg
src/assets/solid/support.svg
src/assets/solid/switch-horizontal.svg
src/assets/solid/switch-vertical.svg
src/assets/solid/table.svg
src/assets/solid/tag.svg
src/assets/solid/template.svg
src/assets/solid/terminal.svg
src/assets/solid/thumb-down.svg
src/assets/solid/thumb-up.svg
src/assets/solid/ticket.svg
src/assets/solid/translate.svg
src/assets/solid/trash.svg
src/assets/solid/trending-down.svg
src/assets/solid/trending-up.svg
src/assets/solid/truck.svg
src/assets/solid/upload.svg
src/assets/solid/user-add.svg
src/assets/solid/user-circle.svg
src/assets/solid/user-group.svg
src/assets/solid/user-remove.svg
src/assets/solid/user.svg
src/assets/solid/users.svg
src/assets/solid/variable.svg
src/assets/solid/video-camera.svg
src/assets/solid/view-boards.svg
src/assets/solid/view-grid-add.svg
src/assets/solid/view-grid.svg
src/assets/solid/view-list.svg
src/assets/solid/volume-off.svg
src/assets/solid/volume-up.svg
src/assets/solid/wifi.svg
src/assets/solid/x-circle.svg
src/assets/solid/x.svg
src/assets/solid/zoom-in.svg
src/assets/solid/zoom-out.svg
