@tailwind base;
@tailwind components;
@tailwind utilities;

/* fixed width only on sm and up */
@media (min-width: 640px) {
  .w-fixed {
    flex: 0 1 230px;
    min-width: 230px;
  }
}
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #46e984;
  text-decoration: inherit;
}
a:hover {
  color: #b5e946;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

